

/* FOTOS DE LOS BOTINES */
.FotosBotines{
    margin-left: 30vh;
    margin-right: 5vh;
    margin-top: 5vh;
    font-size: 50px;
    font-weight: 250px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap ;
    justify-content:center;
    
    align-content: left;  
    
}

@media screen and (max-width: 768px) {
    .FotosBotines {
           margin-left: 15vh;
           display: flex;
           flex-direction: column;
           flex-wrap: wrap;
           justify-content:space-between;
           align-items:flex-start;
           align-content: space-between; 
           
      }
    }
    @media screen and (max-width: 768px) {
        .FotosBotines2{
            width: 25vh;
            height: 20vh;
        }
    
          
        }










/*FOTOS DE LAS REMERAS */    
.fotosRemeras{
    margin-left: 30vh;
    margin-top: 5vh;
    margin-right: 5vh;
    font-size: 1.7vh;
    font-weight: 250;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 27vh 27vh 27vh 27vh 27vh;
    column-gap: 0.5vh;
    grid-template-rows: 27vh 27vh 27vh 27vh 27vh;
    row-gap: 3vh;
    justify-items:center;
    justify-content: center;
    
}

@media screen and (max-width: 768px){
    .fotosRemeras{
        margin-left: 25vh;
        margin-top: 5vh;
        margin-right: 25vh;
        display: grid;
        grid-template-columns: 27vh;
        grid-template-rows: 27vh 27vh 27vh 27vh 27vh;
        row-gap: 3vh;
        justify-items:center;
        justify-content: center;
    }

}





/*FOTOS DE LAS Accesorios */    
.fotosAccesorios{
    margin-left: 30vh;
    margin-top: 5vh;
    margin-right: 5vh;
    font-size: 1.7vh;
    font-weight: 250;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 27vh 27vh 27vh 27vh 27vh;
    column-gap: 1vh;
    grid-template-rows: 27vh 27vh 27vh 27vh 27vh;
    row-gap: 5vh;
    justify-items:center;
    justify-content: center;
    
}

@media screen and (max-width: 768px){
    .fotosAccesorios{
        margin-left: 25vh;
        margin-top: 5vh;
        margin-right: 25vh;
        display: grid;
        grid-template-columns: 27vh;
        grid-template-rows: 27vh 27vh 27vh 27vh 27vh;
        row-gap: 3vh;
        justify-items:center;
        justify-content: center;
    }

}

